
<h1>Make your form here</h1>

<h2>Pirate</h2>
<form method = "post" action = "/pirates">
  <label for ="pirate_name">Name</label><br />
  <input id = "pirate_name" type="text" name = "pirate[name]" /> </li>
  <label for ="pirate_weight">Name</label><br />
  <input id = "pirate_weight" type="text" name = "pirate[weight]" /> </li>
  <label for ="pirate_height">Name</label><br />
  <input id = "pirate_height" type="text" name = "pirate[height]" /> </li>

  <h2>Ship(s)</h2>
  <label for ="ship_name_1">Ship 1 Name:</label><br />
  <input id=ship_name_1 type="text" name = "pirate[ships][][name]" />
  <label for ="ship_type_1">Ship 1 Type:</label><br />
  <input id=ship_type_1 type="text" name = "pirate[ships][][type]" />
  <label for ="ship_booty_1">Ship 1 Booty:</label><br />
  <input id=ship_booty_1 type="text" name = "pirate[ships][][booty]" />


  <label for ="ship_name_2">Ship 2 Name:</label><br />
  <input id=ship_name_2 type="text" name = "pirate[ships][][name]" />
  <label for ="ship_type_2">Ship 2 Type:</label><br />
  <input id=ship_type_2 type="text" name = "pirate[ships][][type]" />
  <label for ="ship_booty_2">Ship 2 Booty:</label><br />
  <input id=ship_booty_2 type="text" name = "pirate[ships][][booty]" />
  <input type="submit" value="Submit"/>
</form>
